.header{
    padding: 0 20px;
}

.navbardiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbarul{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:600px) {
    .header{
        padding: 0 2px;
        gap: 5px;
    }
    .typho-1 {
        font-weight: 500;
    }
}
